:root {
  --sidebar-bg-color: ;
  --content-bg-color: ;
  --header-bg-color: ;
  --color-change-filter1: ;
  --change-white-filter: ;
  --change-white-filter: ;
  --primary-text-color: ;
  --secondary-text-color: ;
  --shadow-color: ;
  --header-text-color: ;
  --li-hover-color: ;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template: 100px 1fr 30px / 280px 1fr;
}

header {
  grid-area: 1/1/2/3;
  display: flex;
  background-color: var(--header-bg-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  z-index: 5;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1400px, 100vw);
  margin: 0 auto;
  padding: 0 20px;
  color: var(--header-text-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  font-size: 3.5rem;
}

.logo img {
  filter: var(--change-white-filter);
  height: 4rem;
}

.themeBtns img {
  cursor: pointer;
  filter: var(--change-white-filter);
  height: 2rem;
}

.sidebar {
  grid-area: 2/1/3/2;
  background-color: var(--sidebar-bg-color);
  box-shadow: 2px 0 8px var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--primary-text-color);
  padding: 20px 20px;
}

.sidebar li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0 10px 60px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar li:hover {
  background-color: var(--li-hover-color);
}

.sidebar li img {
  filter: var(--color-change-filter1);
  position: absolute;
  left: 20px
}

.default,
.projectsList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#projects {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 10px;
  gap: 60px;
}

#projects img {
  cursor: pointer;
  filter: var(--color-change-filter1);
  height: 2.4rem;
}

footer {
  grid-area: 3/1/4/3;
  text-align: center;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a:link,
footer a:visited,
footer a:active {
  text-decoration: none;
  color: var(--header-text-color);
}

.hidden {
  display: none;
}