:root {
  --sidebar-bg-color: ;
  --content-bg-color: ;
  --header-bg-color: #1992d4;
  --color-change-filter1: ;
  --color-change-filter2: ;
  --change-white-filter: brightness(4.12) saturate(100%) invert(100%) sepia(0%) saturate(7454%) hue-rotate(268deg) brightness(118%) contrast(101%);
  --primary-text-color: ;
  --secondary-text-color: ;
  --shadow-color: ;
  --dark-shadow-color: rgba(0, 0, 0, 0.6);
  --header-text-color: white;
  --li-hover-color: ;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template: 100px 1fr 30px / 280px 1fr;
  position: relative;
}

header {
  grid-area: 1/1/2/3;
  display: flex;
  background-color: var(--header-bg-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  z-index: 3;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1400px, 100vw);
  margin: 0 auto;
  padding: 0 20px;
  color: var(--header-text-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  font-size: 3.5rem;
}

.logo img {
  filter: var(--change-white-filter);
  height: 4rem;
}

.themeBtns img {
  cursor: pointer;
  filter: var(--change-white-filter);
  height: 2rem;
}

.sidebar {
  grid-area: 2/1/3/2;
  background-color: var(--sidebar-bg-color);
  box-shadow: 2px 0 8px var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--primary-text-color);
  padding: 20px 20px;
  overflow-y: auto;
  max-height: calc(100vh - 130px);
}

.sidebar li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0 10px 60px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar li:hover {
  background-color: var(--li-hover-color);
}

.sidebar li img {
  filter: var(--color-change-filter1);
  position: absolute;
  left: 20px
}

.default,
.projectsList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#projects {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 10px;
  gap: 50px;
}

#projects img {
  cursor: pointer;
  filter: var(--color-change-filter1);
  height: 2.4rem;
  width: 3rem;
  transition: .3s;
}

#projects img:hover {
  transform: rotate(90deg);
  transition: .3s;
}

.content {
  grid-area: 2/2/3/3;
  background-color: var(--content-bg-color);
  color: var(--primary-text-color);
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 130px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contentHead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contentHead h1 {
  text-align: center;
  font-size: 3rem;
}

.editBtn {
  cursor: pointer;
  padding: 5px;
  filter: var(--color-change-filter1);
}

.editBtn:hover {
  scale: 1.2;
}

.addTaskBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
  font-size: 1.3rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

.addTaskBtn:hover {
  cursor: pointer;
  box-shadow: 0 6px 10px var(--shadow-color);
}

.addTaskBtn img {
  filter: var(--change-white-filter);
}

.taskCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  width: 100%;
}

.taskLegend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0px;
  padding-left: calc(5% + 33.5px);
  padding-right: calc(5% + 78px);
  font-weight: 700;
  border-bottom: 1px solid var(--primary-text-color);
  margin-bottom: 10px;
}

.legendName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 55px;
}

.legendDate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 70px;
  text-align: center;
}

.legendName:hover,
.legendDate:hover {
  cursor: pointer;
}

.taskCard {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
  padding: 5px 15px;
  background-color: var(--sidebar-bg-color);
  border-radius: 8px;
  position: relative;
}

.openDetails {
  margin-bottom: 150px;
}

.taskDescriptionView {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 154px;
  border: 2px solid var(--sidebar-bg-color);
  border-top: none;
  border-radius: 8px;
  padding: 20px;
}

.lowPrio {
  background: linear-gradient(to right, #a5dda5, #a5dda5 4px, var(--sidebar-bg-color) 4px);
}

.normPrio {
  background: linear-gradient(to right, var(--header-bg-color), var(--header-bg-color) 4px, var(--sidebar-bg-color) 4px);
}

.highPrio {
  background: linear-gradient(to right, red, red 4px, var(--sidebar-bg-color) 4px);
}

.taskCompleteStatus {
  opacity: 40%;
  position: relative;
}

.taskCompleteStatus::after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: rgba(0, 0, 0, 0.4);
  content: "";
  width: 100%;
  display: block;
  pointer-events: none;
}

.markComplete {
  height: 20px;
  min-width: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}

.markComplete:hover {
  cursor: pointer;
  box-shadow: inset 0 0 6px var(--shadow-color);
}

.checkMark {
  position: absolute;
  top: -3px;
  left: -3.5px;
}

.taskTitle {
  margin-right: auto;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 55px;
}

.taskDetails {
  padding: 4px 25px;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.taskDetails:hover {
  box-shadow: 0 4px 6px var(--shadow-color);
}

.taskDetails:active {
  box-shadow: none;
}

.taskDueDateDisplay {
  min-width: 85px;
  text-align: center;
}

.taskBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.newProjectContainer,
.projectEditContainer,
.newTaskContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectEditContainer,
.newTaskContainer {
  padding-left: 280px;
}

.newProjectForm,
.editProjectForm,
.newTaskForm {
  background-color: var(--sidebar-bg-color);
  color: var(--primary-text-color);
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 8px;
  position: relative;
}

.newProjectForm p,
.editProjectForm p,
.newTaskHeader {
  font-weight: 700;
  font-size: 1.7rem;
}

.entry {
  width: 100%;
}

.entry input,
.entry label,
.entry textarea,
.entry select,
.entry p {
  display: block;
  width: 100%;
  font-size: 1.2rem;
}

.entry label {
  margin-bottom: 4px;
}

.entry input,
.entry textarea,
.entry select {
  outline: none;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: white;
}

.entry input:hover,
.entry textarea:hover,
.entry select:hover {
  box-shadow: 0 0 8px var(--shadow-color);
}

.entry input:focus,
.entry textarea:focus {
  box-shadow: 0 0 8px var(--dark-shadow-color);
}

.formButtons {
  display: flex;
  gap: 20px;
}

.submitNewProject,
.submitProjectChange,
.submitNewTask {
  padding: 10px 30px;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--header-bg-color);
  border: none;
  border-radius: 12px;
  color: var(--header-text-color);
}

.deleteProject {
  padding: 10px 30px;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: red;
  border: none;
  border-radius: 12px;
  color: var(--header-text-color);
}

.submitNewProject:hover,
.submitProjectChange:hover,
.submitNewTask:hover,
.deleteProject:hover {
  box-shadow: 0 2px 10px var(--shadow-color);
  cursor: pointer;
}

.submitNewProject:active,
.submitProjectChange:active,
.submitNewTask:active,
.deleteProject:active,
.addTaskBtn:active {
  box-shadow: none;
  transform: translateY(2px);
}

.closeBtn {
  position: absolute;
  right: 6px;
  top: 6px;
  filter: var(--color-change-filter1);
}

.closeBtn:hover,
.taskClose:hover,
.taskEdit:hover {
  cursor: pointer;
}

.taskClose,
.taskEdit {
  filter: var(--color-change-filter1);
}

.taskClose:hover {
  animation: shake .6s;
  animation-iteration-count: 1;
}

.taskEdit:hover {
  scale: 1.1;
}

footer {
  grid-area: 3/1/4/3;
  text-align: center;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a:link,
footer a:visited,
footer a:active {
  text-decoration: none;
  color: var(--header-text-color);
}

footer a:hover {
  font-weight: 700;
}

.selected {
  background-color: var(--li-hover-color);
}

.hidden {
  display: none;
}

@keyframes shake {
  15%, 45%, 75% {
    transform: translate3d(-.5px, 0, 0) rotate(4deg);
  }
  30%, 60%, 90% {
    transform: translate3d(.5px, 0, 0) rotate(-4deg);
  }
}