:root {
  --bg-color: #333333;
  --color-change-filter: ;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
  background-color: var(--bg-color);
}

.themeBtns img {
  cursor: pointer;
  filter: var(--color-change-filter);
}

.hidden {
  display: none;
}